/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #030303;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Ocupa toda la altura */
}

body {
    font-family: Arial, sans-serif;
}

h2 {
    margin: 0.5em;
    color:#FFE5E8;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 0px 15px #FF0033;
    font-size: clamp(1.5rem, 15vw, 3rem);
}

h3 {
    margin: 0.5em;
    color:#a7a7a7;
    text-align: center;
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0px;
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 0;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
}

.container-navbar {
    /* Display y Flujo */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Dimensiones */
    max-width: auto;
    padding: 0.2rem 1rem;
}


.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 4px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ccc;
}

.buscador input {
    padding: 0.5rem 1rem;
    height: 40px;
    font-size: 1rem;
    border: 1px solid #333;
    background-color: #1A1A1A;
    color: #fff;
    border-radius: 20px;
    outline: none;
}

.buscador input:focus {
    border-color: #fff;
}

.buscador input::placeholder {
    color: #e7e7e7;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.btn-login,
.btn-suscripcion {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.btn-login {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-login:hover {
    background-color: #A50021;
    color: #000;
}

.btn-suscripcion {
    background-color: #FFE5E8;
    color: #000000;
}

.btn-suscripcion:hover {
    background-color: #A50021;
}

/* --- Contenedor Principal del Video--- */
.video-container {
    width: 100%;
    margin: 0 auto;
}

/* --- Video de Fondo --- */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Evita que el video se deforme */
    display: block;
    /* Elimina espacios extra debajo del video */
    z-index: -1;
    /* Asegura que el video esté detrás de otros elementos */
}

/* --- Planes --- */
.planes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
    background-color: #000000;
}

.col-plan {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 40px;
    margin-top: 10px;
    padding: 2px;
    border: 1px solid #1A1A1A;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #FF0033;
}

.titulo-plan {
    border: 1px solid #FF0033;
    background-color: #000000;
    width: auto;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #FFC107;
}

.titulo-plan h2 {
    color: #FFE5E8;
    font-family: Arial, sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    background-color: #000000
}

.col-plan h1 {
    margin-block-start: 0.8em;
    margin-block-end: 0.2em;
    color: #FFE5E8;
}

.col-plan li {
    margin: 1em;
    padding: 10px;
    margin-block-start: 2em;
    margin-block-end: 2em;
    list-style: none;
    color: white;
}

/* --- Categorias --- */
.categorias-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
}

.categoria{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 292px;
    height: auto;
    padding: 5px;
    border: 1px solid #1A1A1A;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #FF0033;
}

img {
    object-fit: cover;    
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.compatibilidad-container {
    display: flex;
    justify-content: center;
    width: 1000px;
    max-width: 800px;
    align-items: center;
    margin: 40px;
}

.compatibilidad img {
    width: 1000px;
    max-width: 1800px;
    height: auto;
    border-radius: 10px;
}

/* Responsivo básico */
@media (max-width: 768px) {
    .container-navbar {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .nav-list {
        gap: 1rem;
    }

    .nav-buttons {
        gap: 0.5rem;
    }

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .planes-container {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

}


@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    /* Estilos para tablets en modo vertical */
    .container-navbar {
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
    }

    .nav-list {
        gap: 1rem;
    }

    .nav-buttons {
        gap: 0.5rem;
    }

    .video-container video {
        height: 95vh;
        /* Ajusta la altura según sea necesario */
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .planes-container {
        flex-direction: row;
        align-items: center;
    }

}


@media (max-width: 447px) {
    .container-navbar {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .nav-list {
        gap: 1rem;
    }

    .nav-buttons {
        gap: 0.5rem;
    }


    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .planes-container {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1280px) {

    /* Estilos para laptops y computadoras de escritorio */
    .video-container {
        position: relative;
        width: 100%;
        height: 95vh;
        /* Ajusta la altura según sea necesario */
        overflow: hidden;
        margin: 0 auto;
        /* Centra el contenedor */
    }
}

@media (max-width: 100px) {
    .container-navbar {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .nav-list {
        gap: 1rem;
    }

    .nav-buttons {
        gap: 0.5rem;
    }


    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .planes-container {
        flex-direction: row;
        align-items: center;
    }
}